.main-nav {
  position: relative;
  width: 100%;
  background-color: $bg-blue;

  @media (min-width: $tablet-width) {
    background-color: $white;
    min-height: 56px;
  }
}

.main-nav__list {
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $bg-blue;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white;
    padding-top: 9px;
    padding-bottom: 7px;
  }
}

.main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 23px;
    height: 23px;
    border: none;
    top: 16px;
    right: 20px;
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    .main-nav__list {
      display: none;
    }

    .main-nav__toggle {
      background: url("../img/icon-menu.svg") center no-repeat;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .main-nav--opened {
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .main-nav--opened .main-nav__toggle {
    background: url("../img/icon-cross.svg") center no-repeat;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav--no-js {
    .main-nav__list {
      display: block;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid rgba($white, 0.2);
    border-bottom: 1px solid rgba($black, 0.2);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 7px;
        width: 100%;
        bottom: 0;
        background: linear-gradient(
          180deg,
          rgba($black, 0) 0%,
          rgba($black, 0.2) 100%
        );
      }
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 20%;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-right: 20%;
    }
  }
}

.main-nav__link {
  display: block;
  color: $white;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 10px 5px;
  text-align: center;

  &:hover {
    background-color: $bg-blue-hover;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
  }

  &:active {
    background-color: $bg-blue-active;
    color: $white-active;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    font-size: 14px;
    line-height: 26px;
    color: $black;


    &--current {
      color: $current-color;
    }

    &:hover {
      color: $bg-blue;
    }

    &:active {
      color: $black-active;
    }
  }
}
