.page-header {
  display: flex;
  flex-direction: column-reverse;
  min-height: 56px;

  background-color: #ffffff;
  color: #ffffff;
}

.page-header__logo {
  height: 84px;

  @media (min-width: $desktop-width) {
    height: 96px;
  }
}
