.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__contacts {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
