.video {
  padding-top: 32px;
  border-top: 1px solid $gray-color;
  margin-bottom: 40px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.video__header {
  padding: 0 30px 4px;
  max-width: 445px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }
}
