.welcome__wrapper {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: $color;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
