@import "./normalize.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./mixin.scss";
@import "./global.scss";

// blocks
@import "./blocks/advantages.scss";
@import "./blocks/booking.scss";
@import "./blocks/button.scss";
@import "./blocks/copyright.scss";
@import "./blocks/form.scss";
@import "./blocks/gallery.scss";
@import "./blocks/intro.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/map.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/page-header.scss";
@import "./blocks/page-main.scss";
@import "./blocks/page.scss";
@import "./blocks/photos.scss";
@import "./blocks/popup.scss";
@import "./blocks/review.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";
@import "./blocks/video.scss";
@import "./blocks/welcome.scss";
